<!doctype html>
<html>
<head>
    <title>Cryptocurrency Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="bitcoin"></div>
    <div id="ethereum"></div>
    <div id="cardano"></div>
    <script>
        // Bitcoin graph
        var bitcoin_data = [{
            x: {{ bitcoin_timestamps | tojson }},
            y: {{ bitcoin_values | tojson }},
            type: 'scatter'
        }];
        var bitcoin_layout = {
            title: 'Bitcoin Price',
            xaxis: {
                title: 'Timestamp'
            },
            yaxis: {
                title: 'Price (USD)'
            }
        };
        Plotly.newPlot('bitcoin', bitcoin_data, bitcoin_layout);

        // Ethereum graph
        var ethereum_data = [{
            x: {{ ethereum_timestamps | tojson }},
            y: {{ ethereum_values | tojson }},
            type: 'scatter'
        }];
        var ethereum_layout = {
            title: 'Ethereum Price',
            xaxis: {
                title: 'Timestamp'
            },
            yaxis: {
                title: 'Price (USD)'
            }
        };
        Plotly.newPlot('ethereum', ethereum_data, ethereum_layout);

        // Cardano graph
        var cardano_data = [{
            x: {{ cardano_timestamps | tojson }},
            y: {{ cardano_values | tojson }},
            type: 'scatter'
        }];
        var cardano_layout = {
            title: 'Cardano Price',
            xaxis: {
                title: 'Timestamp'
            },
            yaxis: {
                title: 'Price (USD)'
            }
        };
        Plotly.newPlot('cardano', cardano_data, cardano_layout);
    </script>
</body>
</html>
